@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PainTrax.Web.Helper;
@{
    ViewData["Title"] = "Pdf Proc Code";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var clientCode = HttpContextAccessor.HttpContext.Session.GetString(SessionKeys.SessionCmpName);
}

@model List<tbl_pdfproccode>
<main id="main" class="main">
    
        <div class="pagetitle">
            <h1>Pdf Procedure Code</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">

            <div class="card">
                <div class="card-body mt-4">


<p>
    <a class="btn btn-primary" href="/PDFProcCode/Create">Add New</a>
    <a class="btn btn-success" href="/PDFProcCode/Import">Import Excel</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @* <th>ID</th> *@
            <th>MCode</th>
            <th>Procedure</th>
            <th>Spe. Equi.</th>
            <th>Equi. Use</th>
            <th>CPT</th>
            <th>ICD</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
           @*      <td>@item.id</td> *@
                <td>@item.mcode</td>
                <td>@item.mprocedure</td>
                <td>@item.specialequ</td>
                <td>@item.speequchk</td>
                <td>@item.cptcodes</td>
                <td>@item.icdcodes</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/PDFProcCode/Edit/@item.id">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/PDFProcCode/Delete/@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
</section>
</main>
